In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

In [2]:
tree = ET.parse('export.xml')
root = tree.getroot()

In [3]:
col = ['bpm', 'time', 'set', 'creationDate']
rows = []

In [4]:
set_ = 0
for i in root.findall("Record/[@type='HKQuantityTypeIdentifierHeartRateVariabilitySDNN']"):
    for j in i:
        date_ = i.attrib.get('creationDate')
        for k in j:
            bpm_ = k.attrib.get('bpm')
            time_ = k.attrib.get('time')
            rows.append({'bpm': bpm_, 'time': time_, 'set':set_, 'creationDate': date_})
        set_ = set_ + 1

In [5]:
df = pd.DataFrame(rows, columns = col)

In [6]:
df

    bpm         time  set               creationDate
0    77  21:50:57,93    0  2021-04-04 21:52:07 +0100
1    66  21:50:58,83    0  2021-04-04 21:52:07 +0100
2    61  21:50:59,82    0  2021-04-04 21:52:07 +0100
3    66  21:51:00,73    0  2021-04-04 21:52:07 +0100
4    74  21:51:01,55    0  2021-04-04 21:52:07 +0100
..   ..          ...  ...                        ...
815  80  10:02:15,77    3  2021-04-05 10:02:26 +0100
816  76  10:02:16,56    3  2021-04-05 10:02:26 +0100
817  76  10:02:17,35    3  2021-04-05 10:02:26 +0100
818  79  10:02:18,11    3  2021-04-05 10:02:26 +0100
819  88  10:02:18,79    3  2021-04-05 10:02:26 +0100

[820 rows x 4 columns]

In [7]:
sep_date = df['creationDate'].str.split(expand=True)
sep_date.columns = ['date', 'creationTime', 'timezone']
df = pd.concat([df, sep_date], axis=1)
df['measureDate'] = df[['date', 'time']].apply(' '.join, axis=1)

In [8]:
df.drop(columns=['date','creationTime','timezone'],inplace=True)

In [9]:
df

    bpm         time  set               creationDate             measureDate
0    77  21:50:57,93    0  2021-04-04 21:52:07 +0100  2021-04-04 21:50:57,93
1    66  21:50:58,83    0  2021-04-04 21:52:07 +0100  2021-04-04 21:50:58,83
2    61  21:50:59,82    0  2021-04-04 21:52:07 +0100  2021-04-04 21:50:59,82
3    66  21:51:00,73    0  2021-04-04 21:52:07 +0100  2021-04-04 21:51:00,73
4    74  21:51:01,55    0  2021-04-04 21:52:07 +0100  2021-04-04 21:51:01,55
..   ..          ...  ...                        ...                     ...
815  80  10:02:15,77    3  2021-04-05 10:02:26 +0100  2021-04-05 10:02:15,77
816  76  10:02:16,56    3  2021-04-05 10:02:26 +0100  2021-04-05 10:02:16,56
817  76  10:02:17,35    3  2021-04-05 10:02:26 +0100  2021-04-05 10:02:17,35
818  79  10:02:18,11    3  2021-04-05 10:02:26 +0100  2021-04-05 10:02:18,11
819  88  10:02:18,79    3  2021-04-05 10:02:26 +0100  2021-04-05 10:02:18,79

[820 rows x 5 columns]

In [10]:
df.to_csv("HRV_Extractor.csv", index=False)